<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <processMessage>
        <processor method="AddAttachments" patch:after="processor[1]">
          <patch:attribute name="type">Sitecore.Support.Forms.Core.Pipelines.ProcessMessage, Sitecore.Support.67791</patch:attribute>
        </processor>
      </processMessage>
    </pipelines>
  </sitecore>
</configuration>